.caja1{
	margin:auto;
	height: 50px;
	background-color: green;
	color:#FFFFFF;
	border:2px solid #0AD6B1;
	margin: 3px;
	padding: 5px;
    display: flex;
    align-items: center;
}
.cajatitulo{
	height: 40px;
	border:2px solid #0AD6B1;
	margin-top: 25px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-left: 5px;
	display: flex;
	align-items: center;
.cajaparrafo{
	height: 170px;
	margin-top: 15px;
	border:2px dotted #76E9E4;
	border:5px dotten;
	border-bottom-right-radius: 60px;
	display: flex;
	align-items: center;
}
}